@charset "UTF-8";

div{
	width: 200px;
	height: 100px;
	display: inline-block;
	margin: 15px;
	border-style: dashed;
	border-width: 2px;
}
.box1{
	border-color: red;
}
.box2{
	border-color: blue;
}