@charset "UTF-8";

#container {
	position: relative;
	text-align: center;
}

h2 {
	font-size: 2em;
}

h1 {
	font-size: 3.5em;
}

a:link, a:visited {
	text-decoration: none;
	color: #222;
}

a:hover {
	cursor: pointer;
}

#bg {
	position: fixed;
	left: 0;
	top:0;
	width: auto;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	z-index: -100%;
}