@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Nanum+Pen+Script&display=swap');
.bluetext {
	color: blue
}

.browntext {
	color: brown;
}

* {
	margin: 20px auto;
	font-family: 'Black And White Picture', sans-serif;
}

#container {
	width: 600px;
	padding: 15px;
	border: 1px dotted gray;
}

p {
	font-size: 0.9em; /* 글자 크기 */
	line-height: 2.0; /* 줄간격 */
}

h2.accent {
	background-color: #222;
	color: #fff;
	padding: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Nanum+Pen+Script&display=swap');
h2{
	font-family: "글꽇";
	font-family: 'Black And White Picture', sans-serif;
	font-size: 1em;
	font-weight: bold;
	font-variant: small-caps;
	font-style: italic;
	font:italic small-caps bold 2em "고딕";
}

